html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

canvas {
  width: 100%;
  height: 100%;
}

#overall {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

#threeDView {
  
  background-color: red;
  flex-grow: 7;
  height: 100%;
}

.buffer {
  padding-left: 10px;
  padding-bottom: 10px;
}

#sidebar {
  flex-grow: 1;
  background-color: #586F7C;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#paper {
  width: 100%;
  flex-grow: 1;
  background-color: bisque;
}